

/*---------homepage.php--------*/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

/* галерея */
.showimg {
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.showimg div {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.showimg div img {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.showimg div button {
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, .05);
	max-width: 100px;
	width: 10%;
	font-size: 50px;
}

.showimg div button:hover {
	background-color: rgba(0, 0, 0, .5);
}

.showimg div button:focus {
	outline: 0;
}

.showimg div .prevbutton {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.showimg div .nextbutton {
	height: 100%;
	position: fixed;
	top: 0;
	left: calc(100%-100px);
	right: 0;
	bottom: 0;
}

/*------------header----------*/

.topnav {
	/*height: 45px;*/
	border-bottom: 1px solid #e6e8ea;
	background-color: #f0eff0;
}

.topnav .burger {
	display: none;
}

.topnav .nav {
	margin: 0 auto;
	width: 1330px;
}

.nav div {
	
}

.nav div ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav div ul li {
	display: inline-block;
}

.nav div ul li a {
	text-decoration: none;
	line-height: 50px;
	padding: 0 10px 0 10px;
	display: inline-block;
	color: #222;
	font-family: Arial;
	font-size: 13px;
}

.nav div ul li a:hover {
	text-decoration: underline;
	color: #dc0000;
}

.nav div ul li a i {
	padding-right: 5px;
	color: #DC0000;
}

header {
	border-bottom: 1px solid #efefef;
	width: 1330px;
	margin: 0 auto 5px auto;
}

header > div {
	height: 110px;
	overflow: hidden;
}

header .logo {
	float: left;
	padding: 5px 15px;
}

header .logo img {
	height: 100px;
	/*padding-top: 15px;*/
}

header .cont {
	float: left;
	padding: 5px 15px;
}

header .cont p {
	margin: 0;
	/*padding-top: 10px;*/
}

header .cont .phone a {
	text-decoration: none;
	color: #dc0000;
	font-family: Arial;
	font-size: 23px;
	line-height: 34px;
}

header .cont .phone a:hover {
	text-decoration: underline;
}

header .cont .mail a {
	text-decoration: none;
	font-family: Arial;
	color: #dc0000;
	font-size: 14px;
	line-height: 24px;
}

header .cont .mail a:hover {
	text-decoration: underline;
}

header .cont .shed a {
	font-size: 14px;
	font-family: Arial;
	line-height: 24px;
	color: #dc0000;
	text-decoration: none;
}

header .search {
	float: left;
	padding: 35px 10px 40px 20px;
	width: 435px;
}

header .search form {
	margin: 0;
}

header .search input {
	width: 400px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #e4e4e4;
	padding: 0 10px;
}

header .search input:focus {
	outline: none;
}

header .search input[type="search"]::placeholder {
	
}

header .search input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
header .search input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
header .search input[type="search"]::-webkit-search-decoration,
header .search input[type="search"]::-webkit-search-cancel-button,
header .search input[type="search"]::-webkit-search-results-button,
header .search input[type="search"]::-webkit-search-results-decoration { display: none; }

header .search input:focus::placeholder {
	color: #D3D3D3;
}

header .search button {
	background-color: #dc0000;
	border: none;
	padding: 0;
	border-radius: 4px;
	height: 35px;
	width: 35px;
	margin-left: -7px;
	cursor: pointer;
}

header .search button i {
	color: #fff;
}

header .search_res {
	position: absolute;
	z-index: 11;
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 430px;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
}

header .search_res li {
	border-top: 1px solid #eee;
}

header .search_res li a {
	font-family: Arial;
	text-decoration: none;
	font-size: 13px;
	color: #5c5c5c;
	display: block;
	overflow: hidden;
	padding: 10px 0 10px 10px;
}

header .search_res li a div {
	/*float: left;*/
}

header .search_res li a .item-img {
	/*padding: 0 10px;*/
	width: 50px;
	height: 50px;
	float: left;
}

header .search_res li a .item-img img {
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

header .search_res li a .item-content {
	padding: 0 15px;
	overflow: hidden;
}

header .search_res li a .item-content:hover {
	text-decoration: underline;
}

/*-----------main-----------*/

.main {
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-color: silver;*/
	/*overflow: hidden;*/
}

.main > div {
	padding: 0 15px;
}

.main_2 {
	margin: 0 auto;
	width: 1330px;
	overflow: hidden;
}

.aside {
	float: left;
	width: 25%;
}

.aside div {

}

.aside div ul {
	padding: 0;
	margin: 0;
}

.aside div ul li {
	list-style: none;
}

.hide_menu {
	background-color: #f0eff0;
	height: 40px;
}

.hide_menu a {
	text-decoration: none;
	font-size: 16px;
	font-family: Arial;
	color: #555;
	display: block;
	padding: 12px 0 8px 15px;
}

.hide_menu a i {
	font-size: 22px;
	vertical-align: middle;
	margin: -4px 5px 0 0;
}

.menu {
	position: relative;
	font-size: 15px;
	border-bottom: 1px solid silver;
}

.menu:hover {
	background-color: #f9f9f9;
}

.menu a {
	text-decoration: none;
	color: #222;
	display: block;
	line-height: 21px;
	font-family: Arial;
	padding-right: 37px;
}

.menu a:hover {
	text-decoration: underline;
	color: #dc0000;
}

.menu a img {
	vertical-align: middle;
	padding: 8px 0 12px 0 ;
}

.menu > span {
	position: absolute;
	top: 0;
	left: calc(100% - 37px);
	right: 0;
	bottom: 0;
	height: 100%;
	width: 37px;
	cursor: pointer;
	text-align: center;
}

.menu > span:hover {
	background-color: #F0EFF0;
}

.menu > span i {
	font-size: 14px;
	color: #dc0000;
	line-height: 40px;
}

.submenu {
	display: none;
	font-size: 14px;
}

.submenu ul li {
	padding-left: 13px;
}

.submenu2 {
	position: relative;
}

.submenu2 a {
	text-decoration: none;
	color: #222;
	line-height: 21px;
	font-family: Arial;
	display: block;
	padding: 6px 37px 6px 0;
}

.submenu2 a:hover {
	color: #dc0000;
	text-decoration: underline;
}

.submenu2 a img {
	vertical-align: middle;
}

.submenu2 span {
	width: 37px;
	height: 100%;
	position: absolute;
	top: 0;
	left: calc(100% - 37px);
	right: 0;
	bottom: 0;
	text-align: center;
	cursor: pointer;
}

.submenu2 span:hover {
	background-color: #F0EFF0;
}

.submenu2 span i {
	line-height: 34px;
	color: #dc0000;
}



.subsubmenu {
	display: none;
	font-size: 13px;
}

.subsubmenu ul {
	
}

.subsubmenu ul li {
	padding-left: 20px;
}

.subsubmenu ul li div {

}

.subsubmenu ul li div a {
	font-family: Arial;
	text-decoration: none;
	display: block;
	line-height: 30px;
	color: #222;
}

.subsubmenu ul li div a:hover {
	color: #dc0000;
	text-decoration: underline;
}

.subsubmenu ul li div a img {
	vertical-align: middle;
}

.row {
	width: 75%;
	background-color: white;
	float: left;
	/*min-width: 660px;*/
}

.row_4 {
	overflow: hidden;
	padding: 0 15px 0 15px;
}

.row_4 > .prod {
	float: left;
}

.product {
	width: 210px;
	padding: 0 7px;
	border: 1px solid #efefef;
	margin: 0 7.9px 10px 7.9px;
}

.product_2 {
}

.product_2 > p {
	font-size: 14px;
}

.arial {
	font-family: Arial;
	color: #555;
}

.image_wrap {
	margin-bottom: 12px;
}

.image_wrap div {
	height: 150px;
	position: relative;
	text-align: center;
	width: 100%;
}

.image_wrap img {
	max-height: 150px;
	max-width: 150px;
	position: absolute;
	right: 0;
	left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.row-descrip {
	margin-bottom: 10px;
	height: 56px;
	max-height: 56px;
	overflow: hidden;
}

.row-descrip a {
	font-size: 13px;
	color: #5c5c5c;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.row-descrip a:hover {
	text-decoration: underline;
}

.row-descrip a:focus {
	background-color: none;
}

.price {
	margin-bottom: 10px;
}

.price span {
	font-size: 15px;
	font-family: Arial;
	color: #555;
}

.price span b {
	color: #FF6666;
}


.product_page {
	width: 100%;
}

.article {
	
}

.product_name {
	margin: 10px 0 20px 0;
	font-size: 24px;
	font-family: Arial;
	color: #333;
}

.two_blocks {
	overflow: hidden;
}

.two_blocks .img {
	float: left;
	position: relative;
	padding-right: 15px;
	overflow: hidden;
}

.two_blocks .img .brand {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.two_blocks .img .brand img {
	max-width: 120px;
}

.two_blocks .img .img_in {
	width: 575px;
	height: 575px;
	position: relative;
}

.two_blocks .img .img_in img {
	max-width: 450px;
	max-height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.two_blocks .params {
	width: 362px;
	padding-left: 15px;
	float: left;
	overflow: hidden;
}

.params .vendor_code {
	color: #DC0000;
	font-weight: bold;
	font-family: Arial;
	margin-bottom: 10px;
}

.params ul {
	list-style: none;
	padding: 0;
	margin: 0 0 25px 0;
}

.params ul li {
	margin-top: 5px;
	font-family: Arial;
	font-size: 13px;
	color: #555;
}

.params ul li a {
	text-decoration: none;
	color: #dc0000;
	font-weight: 600;
}

.cost {

}

.cost p {
	font-family: Arial;
	font-size: 14px;
	color: #555;
}

.cost p span {
	font-size: 24px;
	font-weight: 600;
	color: #dc0000;
}

.params hr {
	border: none;
	height: 1px;
	background-color: #efefef;
	width: 70%;
	float: left;
}

.all_imgs {
	width: 536px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	padding: 0 19.5px;
}

.all_imgs a div {
	float: left;
	border: 1px solid #E2E0E2;
	padding: 5px 15px;
	margin: 0 2px;
	height: 95px;
	position: relative;
	width: 98px;
}

.all_imgs a div img {
	max-width: 96px;
	max-height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.description .desc_icon{
	padding: 10px 10px;
	margin: 15px 0 0 0;
	font-size: 20px;
	font-weight: 600;
	background-color: #F1F0F1;
	font-family: Arial;
	font-size: 17px;
	font-weight: 600;
	color: #333;
}

.description .desc_icon > i {
	color: #DC0000;
	/*padding: 0 5px 0 5px;*/
}

.description > p {
	padding-left: 10px;
	font-family: Arial;
	font-size: 14px;
	color: #555;
}

.description > p i {
	padding-right: 5px;
	color: #DC0000;
}

.description li {
	font-family: Arial;
	color: #737373;
	list-style: none;
	padding-bottom: 5px;
}

.description li::first-letter {
	text-transform: uppercase;
}

/*-----------pagination-----------*/

.pagination > p {
	/*width: 50%;
	margin: 30px auto;*/
	/*text-align: center;*/
	padding-left: 5%;
}

.pagination > p > span {
	padding: 0 10px;
}

.pagination > p span a:hover {
	color: #dc0000;
}

.pagination .alink {
	color: #dc0000;
}

.pagination > p a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: Tahoma, Helvetica;
}

/*--------------------------------*/

footer {
	width: 100%;
	background-color: #f0eff0;
	border-top: 1px solid #e6e8ea;
}

footer div {
	height: 45px;
	display: table;
	width: 100%;
	text-align: center;
}

footer div p {
	font-family: Arial;
	color: #555;
	margin: 0;
	display: table-cell;
  	vertical-align: middle;
  	font-size: 14px;
}


/*-------------404.php------------*/


.p404 {
	/*align-items: center;
	display: flex;
	height: 100vh;*/
}

.p404 h1 {
	text-align: center;
	font-size: 60px;
	width: 100%;
	/*text-transform: uppercase;*/
	font-family: Arial;
	margin: 0 0 0 0;
	color: gray;
}

/*.p404 h1:first-child {
	margin: 10vh 0 0 0;
	font-size: 130px;
}*/
/*------------------------*/

@media only screen and (min-width : 200px) and (max-width : 480px) {

	.topnav {
		height: auto;
		overflow: hidden;
		margin-bottom: 20px;
		border: none;
		background-color: transparent;
	}

	.topnav .burger {
		display: block;
		margin: 10px 10px 0 10px;
		color: #555555;
		font-size: 20px;
		font-family: Arial;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.topnav .nav {
		width: 100%;
		background-color: #fff;
		display: none;
	}

	.nav div ul li {
		display: block;
	}

	.nav div ul li a {
		width: 100%;
	}

	header {
		width: 100%;
	}

	header > div {
		height: auto;
		margin-bottom: 10px;
	}

	header .logo {
		width: 100%;
		text-align: center;
		padding: 0;
		float: none;
		margin-bottom: 15px;
	}

	header .logo img {
		height: auto;
		width: 70%;
	}

	header .cont {
		float: none;
		padding: 0;
		width: 65%;
		margin: 0 auto 10px auto;
	}

	header .cont .phone a {
		font-size: 20px;
	}

	header .search {
		padding: 0;
		float: none;
		text-align: center;
		width: 100%;
	}

	header .search input {
		width: 80%;
		height: 30px;
	}

	header .search button {
		height: 30px;
	}

	header .search_res {
		width: 90%;
		padding: 0 5% 0 5%;
		text-align: left;
	}

	header .search_res li {

	}

	header .search_res li a {
		font-family: Arial;
		text-decoration: none;
		font-size: 13px;
		color: #5c5c5c;
	}


	.main_2 {
		width: 100%;
	}

	.aside {
		float: none;
		width: auto;
		margin-bottom: 10px;
	}

	.hide_menu + div {
		display: none;
	}

	.row {
		float: none;
		width: 100%;
	}

	.row_4 {
		padding: 0;
	}

	.row_4 > .prod {
		width: 50%;
		margin-bottom: 20px;
		min-height: 265px;
	}

	.product {
		width: auto;
		margin: 0 7px;
		border: none;
		padding: 0;
		border-bottom: 1px solid #efefef;
	}

	.product_name {
		font-size: 21px;
	}

	.image_wrap div {
		height: auto;
		/*position: static;*/
		min-height: 114px;
	}

	.image_wrap img {
		max-height: 110px;
		max-width: 80%;
		width: auto;
		/*position: static;*/
	}

	.two_blocks {

	}

	.two_blocks .img {
		margin-bottom: 30px;
		padding: 0;
		float: none;
	}

	.two_blocks .img .img_in {
		width: 100%;
		height: auto;
		min-height: 320px;
		margin-bottom: 10px;
	}

	.two_blocks .img .img_in img {
		width: auto;
		max-width: 90%;
	}

	.two_blocks .params {
		float: none;
	}

	.params hr {
		display: none;
	}

	.all_imgs {
		width: 100%;
		padding: 0;
	}

	.all_imgs a {
		text-decoration: none;
		width: 100%;
		height: 100%;
	}

	.all_imgs a div {
		width: 80px;
		height: 65px;
		padding: 0;
		float: none;
		display: inline-block;
		margin: 0;
	}

	.all_imgs a div img {
		max-width: 90%;
		max-height: 90%;
	}

	.two_blocks .params {
		padding: 0;
	}

	.description {
		margin-bottom: 30px;
	}

	footer {
		width: 100%;
	}
}